<%= form_with model: [recipe, tag] do |form| %>
    <div>
        <%= form.label :Tag %><br>
        <%= form.text_field :title %>
    </div>

    <div>
        <%= form.submit %>
    </div>
<% end %>
